a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,a{
    line-height: 1.4;
}
span,label{
    line-height: 1.2;
}
img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width:1024px;
    margin:0 auto;
    padding:50px 10px;
    @include pad{
        max-width:799px;
    }
    @include mobile{
        max-width:327px;
        padding: 50px 10px;
    }
    
}
