.register{ 
    background-color: $color-primary-light;
    color:$color-primary;
    h2{
        font-size: $font-size-600;
        font-weight: bold;
        text-align: center;
    }
    h4{
        font-size: $font-size-200;
        text-align: center;
        margin-bottom: 35px;
    }
    .form{
        margin:0 auto;
        width:620px;
        background: $color-primary-light;
        padding: 15px;
        box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
        border-top: 3px solid $color-secondary;
        @include pad{
            width:500px;
        }
        @include mobile{
            width:300px;
        }
        h3{
            font-size:$font-size-200 ;
            font-weight: bold;
            text-align: center;
        }
    }
   
    .formContent{
        display: flex;
        flex-wrap: wrap;
    }
    .terms{
        width:48%;
        @include pad{
            width:100%;
        }
    }
    form{
        width:50%;
        @include pad{
            width:100%;
        }
        label,input{
            display: block;
        }
        label{
            margin-top: 15px;
        }
        input{
            width: 85%;
            padding: 10px;
            padding-left: 30px;
        }
        a{
            color:$color-secondary;
            &:hover{
               border-bottom: 1px solid $color-secondary; 
            }
            
        }
        .mail,.password,.passwordCheck{
            position: relative;
        }
        .fa-envelope,.fa-lock{
            position: absolute;
            top:33px;
            left:10px;
        }
        .password{
            margin-bottom: 12px;
        }
        .check{
                top:13px;
        }
        button{
            display: block;
            margin-left: auto;
            padding:6px 40px;
            border-style: none;
            border-bottom: 2px solid transparent;
            border-radius: 3px;
            color:white;
            background-color: $color-secondary;
            &:hover{
                cursor: pointer;
                &:hover{
                    border-bottom: 2px solid rgba(0,0,0,0.35);
                }
            }
        }
    }
}