html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-none-pc {
  display: none;
}

@media (max-width: 560px) {
  .d-none-pc {
    display: block;
  }
}

@media (max-width: 560px) {
  .d-none-mobile {
    display: none;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  line-height: 1.4;
}

span, label {
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 10px;
}

@media (max-width: 768px) {
  .container {
    max-width: 799px;
  }
}

@media (max-width: 560px) {
  .container {
    max-width: 327px;
    padding: 50px 10px;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 17px 10px;
}

.header a {
  color: #fff;
  display: block;
}

.header a:hover {
  color: #DB4437;
  -webkit-transition: 1s;
  transition: 1s;
}

.header h1 {
  font-size: 24px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul a {
  padding: 0 15px;
}

.header .fa-bars {
  display: none;
}

@media (max-width: 560px) {
  .header ul {
    position: absolute;
    top: 67px;
    right: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    transition: 1s;
    background: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header ul li {
    padding: 10px 0;
  }
  .header .fa-bars {
    display: inline;
  }
  .header .active {
    max-height: 200px;
  }
}

.banner {
  background: center url(../assets/header_desktop.png);
  background-repeat: no-repeat;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container {
  padding: 20px;
  text-align: center;
  width: 460px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .container h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.banner .container p {
  font-size: 16px;
}

.footer {
  background-color: #EfE9E7;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #3D1101;
  padding: 50px 10px;
}

@media (max-width: 768px) {
  .footer .container {
    padding: 50px 10px;
  }
}

.footer .container h3 {
  font-size: 24px;
}

.footer .container p {
  font-size: 16px;
}

.footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.footer .info h3 {
  margin-bottom: 16px;
}

.footer .info .about {
  width: 60%;
}

.footer .info .contact {
  width: 30%;
}

.footer .info .contact li {
  margin-left: 25px;
  list-style: disc;
  font-size: 16px;
}

.footer .info .contact a {
  color: #3D1101;
}

.footer .info .contact a:hover {
  color: #FF5E45;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 768px) {
  .footer .info {
    width: 100%;
  }
  .footer .info .about {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .info .contact {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 560px) {
  .footer .info .about, .footer .info .contact {
    margin-bottom: 30px;
  }
}

.footer .website {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .footer .website {
    width: 100%;
  }
}

.footer .website span {
  font-size: 48px;
  margin-bottom: 22px;
  font-weight: bold;
}

.footer .website ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .website a {
  margin-left: 11px;
}

.footer .website a:hover {
  display: block;
  opacity: 0.7;
}

.footer .website li:nth-child(1) a {
  color: #DB4437;
}

.footer .website li:nth-child(2) a {
  color: #41ABE1;
}

.footer .website li:nth-child(3) a {
  color: #3A5795;
}

.feature {
  background-color: #EfE9E7;
  color: #3D1101;
}

.feature h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  position: relative;
}

.feature h2::before {
  content: "";
  width: 100px;
  height: 1px;
  background: #3D1101;
  position: absolute;
  top: 40%;
  left: 25%;
}

.feature h2::after {
  content: "";
  width: 100px;
  height: 1px;
  background: #3D1101;
  position: absolute;
  top: 40%;
  right: 25%;
}

@media (max-width: 768px) {
  .feature h2::before, .feature h2::after {
    width: 70px;
  }
}

@media (max-width: 560px) {
  .feature h2::before, .feature h2::after {
    height: 0;
  }
}

.feature ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature ul li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 560px) {
  .feature ul li {
    width: 100%;
  }
}

.feature ul img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.feature ul h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.mainChef {
  background-color: #3D1101;
  color: white;
}

.mainChef .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

@media (max-width: 560px) {
  .mainChef .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mainChef img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 560px) {
  .mainChef img {
    width: 100%;
  }
}

.mainChef .chefInfo {
  width: 40%;
  padding: 25px;
}

@media (max-width: 560px) {
  .mainChef .chefInfo {
    width: 100%;
  }
}

.mainChef .chefInfo h2 {
  font-size: 20px;
}

.mainChef .chefInfo h2 span {
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
}

.avatar {
  background-color: #EfE9E7;
  color: #3D1101;
}

.avatar h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.avatar img {
  border-radius: 50%;
  margin-right: 13px;
}

.avatar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.avatar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 31%;
}

@media (max-width: 560px) {
  .avatar ul li {
    width: 100%;
  }
}

.avatar ul h3 {
  font-size: 20px;
  padding: 20px 0;
}

.avatar ul span {
  display: block;
  text-align: end;
  position: relative;
}

.reserve {
  color: #3D1101;
}

.reserve .reserveContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 560px) {
  .reserve .reserveContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reserve h2 {
  font-size: 24px;
  margin-bottom: 38px;
  text-align: center;
}

.reserve img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 560px) {
  .reserve img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.reserve form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 45%;
}

@media (max-width: 560px) {
  .reserve form {
    width: 100%;
  }
}

.reserve label, .reserve input {
  margin-bottom: 10px;
}

.reserve input {
  padding: 5px;
}

.reserve .checkbox {
  margin-bottom: 30px;
}

.reserve .button {
  text-align: end;
}

.reserve .button button {
  border-radius: 3px;
  padding: 6px 10px;
  border-style: none;
  color: white;
}

.reserve .button button:hover {
  cursor: pointer;
  border-bottom: 2px solid #3D1101;
}

.reserve .button .cancel {
  background: rgba(0, 0, 0, 0.35);
}

.reserve .button .submit {
  background: #F56C23;
}

.order {
  background-color: #EfE9E7;
  color: #3D1101;
}

.order .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order .nav {
  width: 25%;
}

@media (max-width: 560px) {
  .order .nav {
    width: 100%;
    margin-bottom: 24px;
  }
}

.order .nav h2 {
  margin-bottom: 16px;
  font-size: 20px;
}

.order .nav h2 i {
  margin-right: 15px;
}

.order .nav a {
  display: block;
  padding: 5px;
  color: #3D1101;
  border-bottom: 1px solid #3D1101;
}

.order .nav a:hover {
  background: #3D1101;
  color: white;
}

.order .nav .active {
  background: #3D1101;
  color: white;
}

.order .menu {
  width: 70%;
}

@media (max-width: 560px) {
  .order .menu {
    width: 100%;
  }
}

.order .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 560px) {
  .order .menuHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.order .search {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 560px) {
  .order .search {
    width: 100%;
    margin-bottom: 24px;
  }
}

.order .search input {
  width: 90%;
  border: 3px solid #3D1101;
  background: transparent;
  padding: 2px;
  margin-right: -2px;
}

.order .search .fa-search {
  background-color: #3D1101;
  color: white;
  padding: 8px;
}

.order .search .fa-search:hover {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.order .cart {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 560px) {
  .order .cart {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.order .cart a, .order .cart .fa-shopping-cart {
  color: #3D1101;
  padding: 0px 10px;
}

.order .cart a:hover, .order .cart .fa-shopping-cart:hover {
  color: #FF5E45;
  cursor: pointer;
}

.order .cart a {
  position: relative;
}

.order .cart a::after {
  content: "";
  width: 2px;
  height: 15px;
  background: #3D1101;
  position: absolute;
  top: 5px;
  right: 0px;
}

.order .cart .fa-shopping-cart {
  position: relative;
  font-size: 28px;
}

.order .cart span {
  position: absolute;
  top: -10px;
  right: 3px;
  font-size: 10px;
  color: white;
  background-color: #FF5E45;
  border: 2px solid #EfE9E7;
  border-radius: 30px;
  padding: 1px 7px;
}

.order .meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order .meals li {
  text-align: center;
  width: 30%;
  -webkit-box-shadow: 1px 1px 10px gray;
          box-shadow: 1px 1px 10px gray;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 768px) {
  .order .meals li {
    width: 45%;
  }
}

@media (max-width: 560px) {
  .order .meals li {
    width: 100%;
  }
}

.order .meals li .fa-heart {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

.order .meals li .fa-heart:hover {
  font-weight: bold;
  cursor: pointer;
}

.order .meals li .active {
  font-weight: bold;
}

.order .meals .ribbon-wrap {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -5px;
}

.order .meals .ribbon-wrap .ribbon {
  position: relative;
  background-color: #0c9;
  color: white;
  top: 16px;
  right: 10px;
  width: 148px;
  padding: 10px 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 4px 6px gray;
          box-shadow: 0 4px 6px gray;
}

.order .meals .mealText {
  padding: 10px;
}

.order .meals span {
  display: block;
  margin-bottom: 16px;
}

.order .meals h3 {
  font-size: 20px;
}

.order .meals h3 span {
  font-size: 12px;
}

.order .meals hr {
  width: 60%;
  height: 1px;
  border-style: none;
  text-align: center;
  background-color: #3D1101;
  margin-bottom: 20px;
}

.order .meals button {
  display: block;
  width: 100%;
  color: #FF5E45;
  border: 1px solid #FF5E45;
}

.order .meals button:hover {
  color: white;
  background-color: #FF5E45;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.order .meals button i {
  margin-right: 10px;
}

.login {
  background-color: #EfE9E7;
  color: #3D1101;
}

.login h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.login h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}

.login .form {
  margin: 0 auto;
  width: 300px;
  background: #EfE9E7;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #FF5E45;
}

.login .form h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.login .form label, .login .form input {
  display: block;
}

.login .form label {
  margin-top: 15px;
}

.login .form input {
  width: 85%;
  padding: 10px;
  padding-left: 30px;
}

.login .form a {
  color: #FF5E45;
}

.login .form a:hover {
  border-bottom: 1px solid #FF5E45;
}

.login .form .mail, .login .form .password {
  position: relative;
}

.login .form .fa-envelope, .login .form .fa-lock {
  position: absolute;
  top: 33px;
  left: 10px;
}

.login .form .button {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .form .button a {
  text-align: center;
  display: block;
  width: 46%;
  color: white;
  border-radius: 3px;
  padding: 6px 0;
  border-bottom: 2px solid transparent;
}

.login .form .button .btnReg {
  background: rgba(0, 0, 0, 0.35);
}

.login .form .button .btnReg:hover {
  border-bottom: 2px solid #FF5E45;
}

.login .form .button .btnLog {
  background: #FF5E45;
}

.login .form .button .btnLog:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
}

.register {
  background-color: #EfE9E7;
  color: #3D1101;
}

.register h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.register h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}

.register .form {
  margin: 0 auto;
  width: 620px;
  background: #EfE9E7;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #FF5E45;
}

@media (max-width: 768px) {
  .register .form {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .register .form {
    width: 300px;
  }
}

.register .form h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.register .formContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.register .terms {
  width: 48%;
}

@media (max-width: 768px) {
  .register .terms {
    width: 100%;
  }
}

.register form {
  width: 50%;
}

@media (max-width: 768px) {
  .register form {
    width: 100%;
  }
}

.register form label, .register form input {
  display: block;
}

.register form label {
  margin-top: 15px;
}

.register form input {
  width: 85%;
  padding: 10px;
  padding-left: 30px;
}

.register form a {
  color: #FF5E45;
}

.register form a:hover {
  border-bottom: 1px solid #FF5E45;
}

.register form .mail, .register form .password, .register form .passwordCheck {
  position: relative;
}

.register form .fa-envelope, .register form .fa-lock {
  position: absolute;
  top: 33px;
  left: 10px;
}

.register form .password {
  margin-bottom: 12px;
}

.register form .check {
  top: 13px;
}

.register form button {
  display: block;
  margin-left: auto;
  padding: 6px 40px;
  border-style: none;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  color: white;
  background-color: #FF5E45;
}

.register form button:hover {
  cursor: pointer;
}

.register form button:hover:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
}
/*# sourceMappingURL=all.css.map */